/GenGuidDate/packages
/GenGuidDate/GenGuidDate/bin
/GenGuidDate/GenGuidDate/obj
/GenGuidDate/Common/bin
/GenGuidDate/Common/obj
/GenGuidDate/Gen.EntityFramework/bin
/GenGuidDate/Gen.EntityFramework/obj