<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <connectionStrings>
    <add name="Default" connectionString="Server=.; Database=SonyCMS20161025; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!--<add name="Default" connectionString="Server=.; Database=TLE20170419; Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
    <add name="TLE" connectionString="Server=.; Database=TLE20170419; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <appSettings>
    <!--是否使用发邮件功能-->
    <add key="Enabled" value="true" />
    <!--是否使用Exchange帐号发送邮件-->
    <add key="UseExchange" value="false"/>
    <!--是否使用域发送邮件-->
    <add key="IsDomain" value="true" />
    <!--域名-->
    <add key="Domain" value="corpusers" />
    <!--Exchange发送（Sony默认发送方式）-->
    <add key="ExchangeAccount" value="XSCNBJPBG301" />
    <add key="Password" value="7i!XY!1v2q" />
    <add key="ASMX" value="https://webmail.apac.extranet.sonyericsson.com/EWS/Exchange.asmx" />
    <!--SMTP发送（现在已不用）-->
    <!--<add key="UserEmail" value="postmaster@icani.net" />-->
    <add key="UserEmail" value="labmanagementadministrator@icani.net" />
    <add key="UserPassword" value="MaGang123456" />
    <add key="SMTP" value="smtp.mxhichina.com" />
    <add key="Port" value="25" />
  </appSettings>
</configuration>